body{
    margin:0;
}

.generalPage{
    width: 1020px;
    margin:auto;
}

header{
    background-color: #2d303a; 
    font-family: "Lato-Light";
    color:#666d89;
    padding-top: 60px;
    padding-bottom: 20px;
    padding-left:40px; 
}

header h1{
    margin:0;
    font-family: "Lato-Black";
    font-size:30px;
    margin-bottom:23px;
}
.headerText{
    font-size: 18px;
}
.navContainer{
    margin-top:14px;
}

ul{
    list-style: none;
    margin:0; 
    padding:0;
    display:flex;
    flex-wrap:nowrap;
    justify-content: flex-start;
}

li{
    color: #666d89;
    padding: 2px 7px;
    border:1px solid #666d89;
    border-radius: 5px;
    margin-right: 10px;
}

li:hover{
    border-color: white;
}
a{
    text-decoration:none;
    color: #666d89;
    font-family:"Lato-Regular";
    font-size: 12px;
    display: block;
}

a:hover{
    color:white;
    cursor: pointer;
}

main{
    background-color: #2d303a;
    padding-bottom: 68px;
}

.container{
    display:grid;
    grid-template-columns: 220px 220px 220px 220px;
    grid-template-rows: 187px 187px 187px;
    grid-gap: 20px; 
    margin-left: 40px;
    margin-right:40px;
    width: 940px;
    height:601px; 
    overflow: hidden;
}

.lineBetweenMainFooter{
    background-color: #323746;
    height:5px;
}

.icons-container{
    display:flex;
    flex-wrap: nowrap;
    margin-top:23px;
}

.icons{
    cursor:pointer;
    margin-left: 0;
    margin-right: 8px;
}

footer{
    background-color:#f2f2f2; 
    font-family: "Lato-Light";
    color: #666d89;
    padding: 59px 30px 65px 30px;
}

footer h2{
    font-family: "Lato-Black";
    margin-top:0;
    font-size:30px;
    margin-left:10px;
    margin-bottom:0;
}

.footerHighText{
    margin-left:10px;
    margin-top:18px;
    font-size:18px;
    font-family: "Lato-Light";
    line-height:30px;
    letter-spacing:0.2px;
}

h3{
    font-size:18px;
    font-weight:bold;
    font-family:"Lato-Black";
    margin-top:12px;
    margin-bottom:0;
}

footer p{
    font-family: "Lato-Regular";
    line-height: 21.5px;
    font-size:12px;
    margin:0;
    margin-top:8px;
    text-align:justify;
}

.footerContainer{
    display:flex;
    flex-wrap: nowrap;
    margin-top:45px;
    padding:0;
    padding-left: 10px;
    justify-content: space-between;
    padding-right: 10px;
}

.peopleDiv{
     width:300px;
 }

 .bottomFooter{
     background-color: #ffffff;
     height:5px;
 }