/* some general settings */
*{
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;  
}
/* class for width and centralization of all blocks */
.general-page{
    margin: auto;
    width:1020px;
}
/* HEADER START */
.header-grid{
    background-color:#2d303a;
    height: 90px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items:center;
} 

.singolo-logo{
    font-size: 25px;
    margin-left: 40px;    
    letter-spacing: normal;
    color:#f1f1f2;
    font-family:"Lato-Bold";
}

span{
    color:#f06c64;
}

.header-list a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    font-family: "Lato-Bold";
    cursor: pointer;
    color:#f1f1f2;
} 

.header-grid nav ul { 
    padding-top:10px;
    padding-left:90px;
    display: grid;
    grid-template-columns: 66px 84px 95px 71px 98px;
}

.header-grid ul li {
   padding:10px;
   position: relative;
}

.header-grid a:hover { 
    text-decoration:none;
    color:#f06c64;
 }

 .header-grid li:not(:first-child)::before{
    content:"";
    width:2px;
    height:2px;
    background-color: black;
    position: absolute;
    left: -5px;
    bottom:16px;
}

.header-footer{
    background-color:#323746;
    width: 1020px;
    height: 6px;
    background: url('./assets/Header Bottom-ex.png');
}
/* HEADER END */
/* SLIDER START */
.slider{
    width:1020px;
    height: 592px;
    display: grid;
    grid-template-columns: 110px 1fr 1fr 110px;
    align-items: center;
}

.main{
    background-color:#f06c64; 
    min-height: 550px;
}

.phones{
    justify-self: start;
    position: relative;
}


.chev{
    /* justify-self: center; */
    opacity: 100%;
} 
.chev-left{
    padding-left: 41px;
    justify-self: start;    
}

.chev-right{
    padding-right: 40px;
    justify-self: end;
    opacity: 100%;
}

.chev:hover{
    cursor: pointer;
    background-color: #fff;
}

.picForVertical{
    position: absolute;
    top: 64px;
    left: 14px;
    z-index: 11;
    width: 189px;
    height: 333px;
    background-image: url('./assets/screen vertical.png') ;
    background-repeat: no-repeat;
}

.picForHorizontal{
    position: absolute;
    top: 14px;
    left: 60px;
    z-index: 11;
    width: 333px;
    height: 188px;
    background-image: url('./assets/screen horizontal.png') ;
    background-repeat: no-repeat;
}

.chevRight{
    width: 110px; 
}  

.slider-footer{
    width: 1020px;
    height:7px;
    background: url('./assets/Bg Bottom-ex.png');
}
/* SLIDER END */
/* SERVICES SECTION START */
.services-section{
    height: 494px;
    color: #666d89; 
    background-color: #f2f2f2;
    font-family: "Lato-Regular";
    font-size: 12px;
    text-overflow: ellipsis;
    text-align: justify;
}

.width-940{
    width: 940px;
    margin: 0 auto;
    font-size: 18px;
    font-family: "Lato-Regular";
    color: rgb(118, 126, 158);
    line-height: 1.667;   
}  

.width-320{
    width: 320px;
}

.float{
    float:left;
    padding-top: 2px;
}

.margin{
    margin-left: 80px;
    width: 220px;
}

.margin div{
    font-size:12px;
    font-family: "Lato-Regular";
    color: rgb(118, 126, 158);
    line-height: 1.797;
}

.margin p{
    font-size:18px;
    margin-top:0;
    font-weight:bold;
    margin-bottom:8px;
    color: rgb(102, 109, 137);    
}

.services-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 30px;
    width:940px;
    margin: 45px auto 0;
    font-family: "Lato-Regular";
    font-size:12px;
    text-overflow: ellipsis;
}

.services-container p{
    font-weight: bold;
    font-family: "Lato-Black";
    text-overflow: ellipsis;
}

.width-300{
    width:300px;
    text-align: justify 
}

.services-section h2{
    margin:0 0 10px 10px;
    padding: 59px 0 7px 29px;
    font-size: 30px;
    font-weight: bold;
    font-size: 30px;
    font-family: "Lato-Black";
    color: rgb(102, 109, 137);    
}

.lineForServices{
    width:1020px;
    height:6px;
    background-color:white;
}
/* SERVICES SECTION END */
/* PORTFOLIO HEADER START */
.portfolio-header{
    background-color: #2d303a; 
    font-family: "Lato-Light";
    color:#666d89;
    padding-top: 60px;
    padding-bottom: 20px;
    padding-left:40px; 
}

.portfolio-header h1{
    margin:0;
    font-family: "Lato-Black";
    font-size:30px;
    margin-bottom:23px;
}
.headerText{
    font-size: 18px;
}
.navContainer{
    margin-top:14px;
}

.portfolio-header ul{
    list-style: none;
    margin:0; 
    padding:0;
    display:flex;
    flex-wrap:nowrap;
    justify-content: flex-start;
}

.portfolio-header li{
    color: #666d89;
    padding: 2px 7px;
    border:1px solid #666d89;
    border-radius: 5px;
    margin-right: 10px;
}

.portfolio-header li:hover{
    border-color: white;
}
.portfolio-header a{
    text-decoration:none;
    color: #666d89;
    font-family:"Lato-Regular";
    font-size: 12px;
    display: block;
}

.portfolio-header a:hover{
    color:white;
    cursor: pointer;
}
/* PORTFOLIO HEADER END */
/* PORTFOLIO SECTION START */
.portfolio-section{
    background-color: #2d303a;
    padding-bottom: 68px;
}
.portfolio-container{
    display:grid;
    grid-template-columns: 220px 220px 220px 220px;
    grid-template-rows: 187px 187px 187px;
    grid-gap: 20px; 
    margin-left: 40px;
    margin-right:40px;
    width: 940px;
    height:601px; 
    overflow: hidden;
}

.lineBetweenMainFooter{
    background-color: #323746;
    height:5px;
}
/* PORTFOLIO SECTION START */
/* ABOUT US SECTION START */
.aboutus-section{
    background-color:#f2f2f2; 
    font-family: "Lato-Light";
    color: #666d89;
    padding: 59px 30px 65px 30px;
    text-overflow: ellipsis;
}

.aboutus-section h2{
    font-family: "Lato-Black";
    margin-top:0;
    font-size:30px;
    margin-left:10px;
    margin-bottom:0;
    text-overflow: ellipsis;
}

.aboutus-section .high-text{
    margin-left:10px;
    margin-top:18px;
    font-size:18px;
    font-family: "Lato-Light";
    line-height:30px;
    letter-spacing:0.2px;
}

.peopleDiv h3{
    font-size:18px;
    font-weight:bold;
    font-family:"Lato-Black";
    margin-top:12px;
    margin-bottom:0;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: justify;
}

.peopleDiv p{
    font-family: "Lato-Regular";
    line-height: 21.5px;
    font-size:12px;
    margin:0;
    margin-top:8px;
    text-align:justify;
    text-overflow: ellipsis;
}

.aboutus-section .container{
    display:flex;
    flex-wrap: nowrap;
    margin-top:45px;
    padding:0;
    padding-left: 10px;
    justify-content: space-between;
    padding-right: 10px;
}

.peopleDiv{
     width:300px;
 }

 .icons-container{
    display:flex;
    flex-wrap: nowrap;
    margin-top:23px;
}

.icons{
    cursor:pointer;
    margin-left: 0;
    margin-right: 9px;
}

.icons:hover{
    background-color: lavender;
}

.aboutus-line{
    background-color: #ffffff;
    height:5px;
}
/* ABOUT US SECTION END */
/* FORM SECTION START */
.form-section{
    background-color:#f06c64; 
    color:#f0d8d9;
    padding-left:40px;
    padding-right:40px;   
    padding-top:60px; 
}
 
.form-section h1{
    font-family: "Lato-Black";    
    font-weight:bold;
    font-size: 30px;
    margin-bottom:20px;
    margin-top:0;    
}

.preForm{
    padding-bottom: 27px;
    font-family: "Lato-Light";
    font-size:18px;
    margin-top:0;
    line-height: 27px;
    word-spacing: 1px;
    margin-bottom:22px;

}

.formContacts{
    margin-top:10px;
    display:flex;
    flex-wrap: nowrap;
    align-self: auto;
    justify-content: space-evenly;
   text-align: justify;
    }

.inputs{
    background-color:#d6564f;
    margin-bottom:17px;
    font-size: "Lato-Light";
    font-size:12px;
    width:617px;
    border-radius: 5px;
    height:37px;
    text-indent: 12px;
    color:#fff;
    border-color:#d6564f;
    border:0;
}

textarea{   
    background-color:#d6564f;
    border-radius:5px;
    text-indent:12px; 
    color:white;
    margin-bottom: 16px;
    border-color:#d6564f;
    max-width:700px;
    max-height:400px;
    margin-top:0;
}
 
input::placeholder {
    color:#f48c8f;
}
 
textarea::placeholder {
    color:#f48c8f;
}
 
.inputSub{
    background-color:#d6564f;
    margin-bottom:16px;
    font-size: "Lato-Regular";
    font-size:12px;
    border-radius: 5px;
    text-align:center; 
    color:#f48c8f;
    border-color:#d6564f;
    padding: 8px 6px;
 }
 
.rightContacts h3{
    font-family:"Lato-Black";
    font-size:18px;
    padding-bottom:0;
    margin-bottom:0px;
    margin-top:-2px;
}
.rightContacts p {
    margin-top: 10px;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rightContacts{
    margin-top:0;
    padding-top:0;
    padding-left:23px;
    padding-right: 0;    
    font-size: 12px;
    font-family:"Myriad Pro";
    line-height: 21px;
    word-spacing: 1px;
    letter-spacing: 0.2px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.iconsContacts{
    margin-right: 14px;
    margin-top: 12px;
    line-height: 4px;
}

.iconsContacts a{
    color:#f0d8d9;
    text-decoration: none;
}

.LineAfterForm{
    width:1020px;
    height: 6px;
    background-color:#ea676b;
}
/* FORM SECTION END */
/* FOOTER START */
footer{
    display:flex;
    flex-wrap: nowrap; 
    justify-content: space-between;
    background-color:#2d303a; 
    color:#3c404f;
    width:1020px;
    padding-bottom: 2px;
}

.footerIcons{
    padding: 22px 31px 0px 0px;
}

footer .icons{
    margin-left: -5px;
    color: #666d89;
}

footer .icons:hover{
    cursor: pointer;
    background-color: lavender;
}

.footerCopy{
    color: #666d89;
    font-family: "Lato-Light";
    font-size: 12px;
    padding: 32px 38px 27px 44px;
}
/* FOOTER END */
